.ul{
    list-style-type: none;
    display: flex;
    justify-content: left;
    margin-left: 0px;
    font-family: monospace;
   justify-content: center;
    
  


}
#nav{
    display: flex;
    padding-right: 10%;

}
#fur{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#home{
    color: #ff4400;
}
#red{
    background-image: url(images/bg_720-removebg-preview__1_.png); 
    margin-left: 10%;
    width: 80%;
    word-spacing: 10%;
    height: 550px;  


}
.align{
    display: flex;
}
#p1{
font-size: 70px;


}
#p2{
    font-family: 'Times New Roman', Times, serif;
}
#button1{
   
    background-color: red;
    height: 40px;
    border-radius: 9px;
    width: 29%;
    text-align: center;
    margin-left: 30%;

}
#fix{
    color: #cd4166;
}
.img1{
    position: relative;
    height: 50%;
    width: 50%;
    top: 210px;
    border-radius: 3px 15px;
    right: 10px;
    
   

}
#h1{
    text-align: center;
    font-size: xx-large;
}
#s1{
   border: black solid thin;
   
}
#s1a{
 
}
.img2{
    height: 250px;
   
  
    
}
#s2{
    display: grid;
    position: relative;
    left:8%;
    border: black solid thin;

}

#prize{
  display: flex;

}
#s3{
    border: solid black thin;
    position: relative;
    left:9%;
    
}
#p4{
    word-spacing: 20px;
}
.style{
    display: flex;
    padding-right: 10px;
    margin-right: 10%;
    
}
#adidas{
    padding-left: 50px;
    background-color: aliceblue;
    margin-right: 3%;
    
}
.style2{
    position: relative;
    top: 100px;
    display: flex;
}
#button3{
    text-align: center;
    font: 700;
    width: 13%;
    height: 30px;
    background-color: rgb(236, 34, 34);
    margin-left: 30%;
}
.lily{
    display: flex;
}
.dandelion{
    display: flex;
    padding-left: 13%;
}
.word{
    text-decoration: line-through;
    
}
#jon{
    font: 100px;
}
.money{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}
#sub{
  text-align: center;
  background-color: pink;
  height: 250px;
  width: 70%;
  margin-left: 20%;
  border-radius: 15px;
}
#ul{
    list-style-type: none;
    display: flex;
    justify-content: left;
     margin-left: 100px;
     float: left;
     
}
.last{
   display: flex;
   list-style-type: none;
   margin-left: 20%;
   margin-top: 10%;
   background-color: #ff4400;
   width: 70%;
   height: 150px;
}
.list{
    list-style-type: none;
}
#al1{
    display: flex;
    list-style-type: none;
    word-spacing: 5px;
    font-size: 15px;
}
#navy{
    display: flex;
}
#navy1{
    justify-content: left;
    padding-left: 300px;
   
    
}
#images{
    display: flex;
}
#a{
    width: 100px;

}
.core{
    display: flex;
    
}

#core1{
    position: relative;
    top: 80px;
}
#min{
    color: orangered;
}
#button15{
    height: 40px;
    width: 120px;
    border-color: red;
    background-color: rgb(222, 211, 211);
}
#button25{
    height: 40px ;
    margin-left: 20%;
}
#s{
    text-decoration: line-through;
}
#selected{
    letter-spacing: 4px;
}
#size{
    letter-spacing: 30px;
}
.img15{
    transform: rotate(50deg);
    height: 160px;
}
#many{
    display: flex;
    margin-left: 20%;
    
}
#l{
    list-style-type: none;
    display: flex;
    justify-content: left;
     margin-left: 100px;
     float: left;
     
}
.last9{
   display: flex;
   list-style-type: none;
   margin-top: 10%;
   background-color: #e95722;
   width: 90%;
   height: 150px;
}
.list9{
    list-style-type: none;      
}
.b3{
    width: 100px;
    background-color: #e95722;
    height: 30px;
}

       

.navy1{
    display: flex;
    word-spacing: 10px;
    font-family: monospace;
   
   }
   .uls{
       display: flex;
       list-style-type: none;
       
   }
   #nav1s{
       justify-content: left;
       font-size: 15px;
   }
   #nav2s{
       justify-content: right;
       padding-left: 50%;
       
   }
   .button1s{
       height: 30px;
       width:50px ;
   }
   #heading1s{
       text-align: center;
   }
   #img1s{
       height: 300px;
   }
   .story1s{
       display: flex;
       
      margin-left: 10%;
     
       
   }
   .button2s{
       text-align: center;
       margin-right: 30%;
       background-color: rgba(255, 34, 0, 0.919);
       height: 40px;
       width: 90px;
       font-size: 15px;
   
   }
   .list9s{
   list-style-type: none;
   
   }
   .footers{
       display: flex;
      background: orangered;
       
   }
   #p1s{
       font-size: 25px;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   .bodys{
       font-family: monospace;
       background-color: whitesmoke;
   
   }
   .navvv{
    position: absolute;
    top: 90px;
   }
   #z{
    display: flex;
    
    overflow-x: hidden;
    font-size: 20px;
   }
   #y{
    display: flex;
    list-style-type: none;
    
    width: 150%;

   }
   #x{
     display: flex;
     list-style-type: none;
     margin-right: 20px;
    
     font: 30px;
    width: 120%;
    background-image: url(/images/bg_720-removebg-preview__1_.png);
    background-repeat: no-repeat;
    
   
   }
   #x1{
     
    padding-left: 40%;
   }
   #form1{
    width: 50%;
    border-radius: 10px;
    height: 40px;
    
   }
   #form3{
    height: 100px;
    width:50%;
   }
   .r{
     text-align: center;
   }
   #button23{
    height:50px ;
    background: linear-gradient(to right, orangered, red);
    border-radius: 4px;
   }
   .bbb{
    height: 30px;
    
   }
   .body{
    background-color: whitesmoke;
   }
   #f{
    color: #ff4400;
    
   }
   
   
    .story1s{
              display: grid;   
       grid-template-columns: repeat(1,1fr);
       width: 20%;
   }
   .navs{
       display: inline-block;
   }
   .footers{
       display: flexbox ;
       background-color: rgb(255, 81, 0);
   }
    @media(min-width:230px) and (max-width:800px){
        
        #prize{
            display: grid;
            grid-template-columns:1fr ;
        }
        .p1{
            display: flex;
            justify-content: center;
            align-items: centre;
            flex-direction: column;
        }
        .style{
            display: grid;
            grid-template-columns: repeat(1,2fr);
        }
        .style2{
            display: grid;
            grid-template-columns: repeat(1,2fr);
        }
        .dandelion{
            display: grid;
            grid-template-columns: repeat(1,2fr);
        }
        #navy{
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        .img1{
        max-width: min-content;
        margin-left:2%;
        overscroll-behavior-block: 3px;
        }
        
        .bodyx{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .body{
            display: flex;
            justify-content: center;
            align-items: left;
            flex-direction: column;

            
        }
        .main{
            display: flex;
            justify-content: left;
            flex-direction: column;
            align-content: center;  
        }

         .core{
            display: grid;
            grid-template-columns: 1,1fr;
            align-items: center;
            justify-content: center;
         }
         #many{
            display: grid;
            grid-template-columns: 2fr;
         }

    }